<h1>Your favorite Blog</h1>
<ul>
  
  <% @posts.each do |post| %>
    <li>
    <a href="/articles/<%= post.id %>">
      <%= post.title %>
    </a>
    
    
    </li>
  <% end %>
</ul>

<%= link_to "New Post", new_article_path %>

