<% @articles.each do |article| %>
  
<article class="post">
  <section class="post-head">
  
  <a href="/articles/<%= article.id %>">
    <%= article.title %>
  </a>
  </section>

  <section class="post-summary clearfix">
    <%= image_tag article.image.url(:thumb), class: 'img-thumbnail thumb' if article.image? %>
    <%= article.summary %>
  </section>
</article>
<% end %>




