<h1>Your favorite Blog</h1>
<ul>
    <li>
        <p>Hey hey</p>
    </li>
    # Heroku doesn't see erb commands !!
  <% @posts.each do |post| %>
    <li>
      <%= post.title %>
    </li>
  <% end %>
</ul>

# git add .
# git commit -am ""
# git push heroku master 
# heroku run rails db:migrate
# heroku open